<?xml version="1.0" encoding="UTF-8"?>
<x:config xmlns:x="http://www.xopus.com/xmlns/config" xmlns:math="http://www.w3.org/2005/xpath-functions/math" version="1.0">
  <x:import src="../../shared/xml/config.xml"/>
  
  <x:nodeConfig>

    <x:node match="awarding_and_reporting_for_the_qualification">
      <x:name>Awarding and reporting for the qualification</x:name>
      <x:role>hidden-from-ui</x:role>
    </x:node>
    
  </x:nodeConfig>

</x:config>
