html,
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#404040px;
}


.image 
{
    background:#F4FFD4;
    border-style:solid;
    border-width:0.1em;
    border-color:black;
    border-radius:3px;
    padding:1em;
    margin-bottom:2em;
    margin-top:2em;
}

table.color_blue                                               { background-color:#D2DFF6; }
.color_blue  th                                                { background-color:#8FB5FB; color:#0258F5; }
.color_blue  tbody.rowcoloring_alternate  tr.evenorodd_even    { background-color:#FFFFFF; }

table.color_green                                              { background-color:#F2F6E0; }
.color_green th                                                { background-color:#EAF1BE; color:#619102; }
.color_green tbody.rowcoloring_alternate  tr.evenorodd_even    { background-color:#FFFFFF; }

table.color_orange                                             { background-color:#F8EAE1; }
.color_orange th                                               { background-color:#F6B88E; color:#F86401; }
.color_orange tbody.rowcoloring_alternate tr.evenorodd_even    { background-color:#FFFFFF; }

table.color_grey                                               { background-color:#ECECEC; }
.color_grey th                                                 { background-color:#D9D9D9; color:#666666; }
.color_grey tbody.rowcoloring_alternate   tr.evenorodd_even    { background-color:#FFFFFF; }

table.border_row    th, table.border_row    td      { border-bottom:solid 1px #CCCCCC; }
table.border_column th, table.border_column td      { border-right:solid 1px #CCCCCC; }
table.border_cell                                   { border:solid #CCCCCC; border-width:1px 0px 0px 1px; }
table.border_cell   th, table.border_cell   td      { border:solid #CCCCCC; border-width:0px 1px 1px 0px; }


td, th { padding: 10px 0 0 10px; }


table p
{
  margin:0;
  
}

/*
table,
tr,
td
{
    border-style:solid;
    border-collapse:collapse;
    border-width:0.1em;
    border-color:grey;
    padding:0.3em;

}*/

ol ol,
ul ol
{
  list-style-type: lower-alpha;
}

ol ol ol,
ul ol ol,
ol ul ol,
ul ul ol
{
  list-style-type: lower-roman;
}



.first_certificate_mandatory_units_table,
.first_certificate_optional_specialist_units_table,
.first_extended_certificate_mandatory_units_table,
.first_extended_certificate_optional_specialist_units_table,
.BTEC_first_suite_of_qualifications_table

{
   
    margin-bottom:2em;
    margin-left:0.4em;
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
}


.text
{

    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    padding-top:1em;
    padding-bottom:1em;
    margin-top:1em;
    margin-bottom:1em;
    background:#FEFEFE;
}

.generated_table_reference
{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    padding-top:1em;
    padding-bottom:1em;
    margin-top:1em;
    margin-bottom:1em;
    background:#EDFDF9;
}

.caption{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    margin-top:1em;
    background:#FDFDF9;
}

.title{
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    margin-top:0.2em;
    margin-bottom:0.2em;
}


.preface,
.qualification_unit,

.further_information_useful_publications,
.welcome_to_your_BTEC_First,
.units_specification_layout,
.quality_assurance_of_centres,
.qualification_structure,
.programme_delivery,
.Edexcel_BTEC_Level_1_Level_2_First,
.professional_development_and_support,
.introduction,
.internal_assessment,
.external_assessment,
.edexcel_BTEC_Level_1_Level_2_First,
.cover_pages,
.front_cover,
.inside_cover,
.awarding_and_reporting_for_the_qualification,
.access_and_recruitment,
.annexes,
.annexe,
.btec_first_section1,
.btec_first_section2,
.btec_first_section3,
.btec_first_section4,
.btec_first_section5,
.btec_first_section6,
.section1,
.section2,
.section3,
.section4,
.section5,
.section6
{
    padding-top:3em;
    padding-bottom:3em;
    margin-top:3em;
    margin-bottom:3em;
    margin-left:0.4em;
    border-style:solid;
    border-width:0.2em;
    border-color:gray;
    border-radius:5px;

}


.units_specification_layout,
.welcome_to_your_BTEC_First,
.further_information_useful_publications,
.quality_assurance_of_centres,
.qualification_structure,
.programme_delivery,
.Edexcel_BTEC_Level_1_Level_2_First,
.professional_development_and_support,
.introduction,
.internal_assessment,
.external_assessment,
.edexcel_BTEC_Level_1_Level_2_First,
.cover_pages,
.awarding_and_reporting_for_the_qualification,
.access_and_recruitment,
.annexes
{
     background:#ffffff;
	 /*background:#EFE1E1;*/
}

.unit{
	margin:10px;
}





.preface,
.qualification_unit,
.front_cover,
.inside_cover,
.annexe,
.btec_first_section1,
.btec_first_section2,
.btec_first_section3,
.btec_first_section4,
.btec_first_section5,
.btec_first_section6,
.section1,
.section2,
.section3,
.section4,
.section5,
.section6
{
     background:#FEFEFE;
}


.btec_first_section1 .title,
.section1 .title,
.btec_first_section2 .title,
.section2 .title,
.btec_first_section3 .title,
.section3 .title,
.btec_first_section4 .title,
.section4 .title,
.btec_first_section5 .title,
.section5 .title,
.btec_first_section6 .title,
.section6 .title
{
 border-right-style:none;
 border-left-style:none;
 padding-left:0.3em;
}

.btec_first_section1 .title,
.section1 .title
{
    font-size:2.5em;
   
}

/*.btec_first_section2,
.section2{
    background:#CDE1EF;
}*/

.btec_first_section2 .title,
.section2 .title{
    font-size:2em;
}

/*.btec_first_section3,
.section3{
    background:#B5CDDE;
}*/

.btec_first_section3 .title,
.section3 .title{
    font-size:1.5em;
}

/*.btec_first_section4,
.section4{
    background:#B4E0D3;
}*/

.btec_first_section4 .title,
.section4 .title{
    font-size:1.5em;
}
/*
.btec_first_section5,
.section5{
    background:#FCCCA3;
}*/

.btec_first_section5 .title,
.section5 .title{
    font-size:1.5em;
}

/*.btec_first_section6,
.section6{
    background:#CCCFA3;
}*/

.btec_first_section6 .title,
.section6 .title{
    font-size:1.5em;
}

.box{
    margin-top:10px;
    margin-bottom:10px;
}

.link,
a
{
  color: #388ccc; 
  text-decoration: none;
}

.link,
a
a:hover{ text-decoration:underline;
}



.list li
{
    padding:0.2em;
    border-style:solid;
    border-width:0.1em;
    border-color:#EEE;
}

.list ul
{
    margin-left:2.5em;

}

.list p
{
    margin-left:2.2em;
}

.describedlist
{
    padding:0em;
    margin:0em;
	border-bottom:solid 8px #fbf5ea;
}

.GSCE_english,
.GSCE_math,
.criterion_id,
.pltsvalue
{
    margin-top:0.5em;
    margin-bottom:0.5em;

}
.wrap
{
    margin-top:0.2em;
    margin-bottom:0.5em;
}










.plts_initials_reference{
    background:#CCEBD6;
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    padding-bottom:0.1em;
    padding-left:0.1em;
    padding-right:0.1em;
    margin-bottom:0.3em;
    margin-top:0.1em;
    margin-left:0.1em;
    border-radius:2px;
}



/*.shortcuts
{
    height:100%;
    background:#DEEFEF;
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    border-radius:3px;
    padding-top:0.4em;
    padding-bottom:0.4em;

}
*/
\

/* Drop-shadow page layout {{{ */
#canvas
{
    background:#FBFBFB;
    padding:0;
    margin:0;
    color:#303030;
}

#page{

    -webkit-box-shadow:0px 0px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0px 0px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow:0px 0px 12px 0 rgba(0, 0, 0, 0.1);
	width:100%;
	max-width:960px;
	margin:0 auto 5px auto;
	background-color:#FFFFFF;
	padding-bottom:1px;
}





/* }}} */

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#404040px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.unit h1{
    font-size:24px;
}

.unit h2{
    font-size:20px;
}

.unit h3{
    font-size:14px;
}
.unit h4{
    font-size:14px;
}

.unit p{
    margin-left:0;
}

.box{
    margin-left:10px;
}


/*.unit
{
    background:#FFF;
    padding:18px;
    padding-bottom:18px;
    width:85%;
}

.level_1_criteria,
.merit_criteria,
.distinction_criteria,
.pass_criteria
{
    background:#94DBFF;
    border-style:solid;
    border-width:0.1em;
    border-color:black;
    border-radius:3px;
    padding:1em;
    margin-bottom:2em;
    margin-top:2em;
}
.assessment_guidance
{
    background:#94DBFF;
    border-style:solid;
    border-width:0.1em;
    border-color:black;
    border-radius:3px;
    padding:0.2em;
    margin-bottom:0.2em;
}*/

/*.introduction,
.teacher_guidance
{
    margin-top:3em;
    margin-bottom:3em;
}
.criteria_covered,
.scenario,
.assessment_evidence,
.assignment_title
{
    height: 100%;
    background:#DEEFEF;
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    border-radius:3px;
    padding-top:0.4em;
    padding-bottom:0.4em;
}
.learning_objective,
.teacher_guidance
{
    background:#FEEFEF;
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    border-radius:3px;
    padding:0.2em;
    margin-bottom:2em;
}*/

/*.suggested_assignment_outlines,
.distinct_objective,
.assessment_guidance,
.distinct_teacher_guidance{
    margin-top:0.7em;
    margin-bottom:0.7em;
    margin-left:0.2em;
    background:#D1F0FF;
    border-style:solid;
    border-width:0.1em;
    border-color:gray;
    border-radius:2px;
}*/
.uneditable,
.editable
{
 	background:#ffffff;
    padding:5px 10px;
}

.uneditable{
	color:#404040;
}
.editable{
   font-size:14px;
   color:#303030;
}
.meta{
	padding-top:120px;
	padding-bottom:5px;
	background-color:#fbf5ea;
	position:relative;
	background-image:url(header.png);
	background-position:0 0;
	background-repeat:no-repeat;
}
.meta .uneditable{
	width:20%;
	min-width:200px;
	display:inline-table;
	text-align:right;
	font-weight:bold;
	border:none;
	margin-right:10px;
	margin-left:0;
	font-size:14px;
}
.meta .editable{
	width:60%;
	display:inline-table;
	font-size:14px;
}
.unit h2.uneditable{
    font-size:24px;
    background:#ffffff;
	color:#303030;
	margin:0;
	padding:0;
	border:none;
	border-bottom:1px dashed #696969;

}

.unit_introduction h2.uneditable, .assessment_guidance h2.uneditable, .assessment_criteria h2.uneditable, .suggested_assignment_outlines h2.uneditable, .teacher_guidance h2.uneditable, .global_assessment_guidance h2.uneditable  {
	margin-top:8px;
}
.unit_introduction h2.uneditable{
	margin-bottom:10px;
	margin-top:8px;
}

.unit_introduction{
	background-color:#fbf5ea;
	padding-bottom:10px;
}
.unit_introduction p{
	margin:0 10px 0 10px;	
	width:100%;
	max-width:920px;
}

.learning_objectives h2.uneditable{
	margin-bottom:10px;
	margin-top:8px;
}
.learning_objectives h3.editable{
	font-size:14px;
	border:solid 10px #fbf5ea;
	font-weight:normal;
	margin-top:0;
}
.distinct_objective{
	background-color:#fbf5ea;
	padding-bottom:1px;
}
.blurb{
	font-size:16px;
	color:#404040;
	font-weight:bold;
	background-color:#ffffff;
	display:block;
	padding-bottom:10px;
	width:100%;
}
.learning_objectives .distinct_objective h4.editable{
	margin:10px 10px 0 10px;
	font-weight:normal;
}
.learning_objectives .distinct_objective p.editable{
	margin:10px;
}
ul{
	margin:0 10px 0 0;
	padding:0 0 0 0;
	background-color:#FFFFFF;
	
}
ul li.editable{
	margin:0 0 0 24px;
	padding:0;
}
ul li p{
	margin:0;
	padding:0;
}
.learning_objectives .distinct_objective ul li p.editable{
	margin:0;
}
.assessment_guidance .describedlist ul{	
	margin-bottom:0;
}
.assessment_guidance{	
	border-bottom:10px solid #fbf5ea;
	}
.assessment_guidance .blurb{
	display:none;
}
.assessment_guidance_text{
	background-color:#fbf5ea;
	padding-top:1px;
	padding-bottom:1px;
}
.assessment_guidance_text p{
	margin:10px 10px 10px 10px;
}
.assessment_guidance_text .describedlist p{
	margin:0 10px 0 10px;
}
.describedlist ul{
	margin:10px 10px 9px 10px;
}
.describedlist ul li p.editable{
	margin:0;
}

.level_1_criterion,
.merit_criterion,
.distinction_criterion,
.pass_criterion{
    background-color:#fbf5ea;
	padding-top:10px;
	padding-bottom:1px;
}
.level_1_criteria h4, .pass_criteria h4, .merit_criteria h4, .distinction_criteria h4, .level_1_criterion .wrap, .pass_criterion .wrap, .merit_criterion .wrap, .distinction_criterion .wrap{
	display:none;
}
.level_1_criteria .blurb, .pass_criteria .blurb, .merit_criteria .blurb,  .distinction_criteria .blurb{
	margin:10px 0 0 0;
}
.criterion_id{
	margin:5px 0 5px 10px;
	display:inline-table;
}
.criterion p{
	margin:10px 10px 0 10px;
}
.GSCE_english, .GSCE_math{
	display:inline-table;
	margin:5px 0 5px 10px;
}
.GSCE_english .uneditable, .GSCE_math .uneditable,  .criterion_id .uneditable{
	font-weight:bold;
}
.criterion_guidance p{
	margin:10px 10px 0 10px;
}
.suggested_assignment_outlines table,
.assessment_guidance_text{
    background-color:#fbf5ea;
	margin-top:10px;
}
.distinct_teacher_guidance{
    background-color:#fbf5ea;
	margin-top:10px;
	padding-top:1px;
	padding-bottom:10px;
}
.suggested_assignment_outlines table thead h4.uneditable{
	background-color:#fbf5ea;
	line-height:24px;
	margin:0;
	padding:0;
	font-size:12px;
}
.suggested_assignment_outlines table thead td:nth-of-type(1){
	width:10%;
}
.suggested_assignment_outlines table thead td:nth-of-type(2){
	width:35%;
}
.suggested_assignment_outlines table thead td:nth-of-type(3){
	width:35%;
}
.suggested_assignment_outlines table tbody .criterion_id{
	margin:4px 0 0 0;
	padding:0;
}
.suggested_assignment_outlines table tbody h4{
	margin:0 0 10px 0;
	padding:5px 10px;
	font-size:14px;
	font-weight:normal;
}
.suggested_assignment_outlines table tbody ul{
	margin:0 10px 0 0 ;
	padding:0 0 0 0;
	list-style:none;
}
.distinct_teacher_guidance h3{
	font-size:14px;
	font-weight:normal;
	margin:10px 10px 0 10px;
}
.distinct_teacher_guidance .blurb, .global_assessment_guidance .blurb{
	display:none;
}
.teacher_guidance_text  p{
	margin:10px 10px 0 10px;
}
.teacher_guidance_text .describedlist ul{
	margin: 10px 10px 0 10px;
	padding:0;
}
.shortcuts{
	background-color:#fbf5ea;
	margin:10px;
	padding:0 0 10px 0;
	position:relative;
	display:block;
}
.shortcuts h1{
	margin:14px 0 20px 0;
	padding:0 0 10px 0;
    font-size:24px;
	line-height:28px;
    background:#ffffff;
	color:#303030;
	padding:0;
	border:none;
	border-bottom:1px dashed #CCCCCC;
}
.shortcuts h1:after{
	border-bottom:10px solid #ffffff;
}
.shortcuts p{
	margin:10px;
	padding:0;
}
.shortcuts table{
	background-color:#ffffff;
	margin:0 10px 0 10px;
}

